@import "../../scss/includes/variables";

input[disabled] {
  opacity: 0.2;
}
form {
  margin: 50px 0;

  label {
  }
  input[type=text], input[type=email], input[type=number], input[type=tel], textarea, select {
    padding: 15px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 15px;
  }
  textarea {
    resize: none;
  }
  select {
  }

  input[type=submit]{
    padding: 15px 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    width: min-content;
    font-weight: 500;
    

    &:hover{
      background-color: green;
      color: white;
    }
  }
}